:root {
    --clr-primary-1:#3282F7;
    --clr-primary-2:#68D9A4;
    --clr-primary-3:#ED6454;
    --clr-bg:#E7E7E7;
    --bd-radius: 5px;
    --padding: 20px;
}

/* --------------------------- */
/* --------RESET-------------- */
/* --------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family:'DM Sans', sans-serif;
}

a {
    width:fit-content;
    z-index:100;
    text-decoration: none;
    color:black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

img {
    display:block;
    width:100%;
    max-width:100%;
    height:100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

.sr-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px); /* 1 */
	-webkit-clip-path: inset(50%);
		clip-path: inset(50%);  /* 2 */
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;            /* 3 */
}

/* --------------------------- */
/* -----UTILITY CLASSES------- */
/* --------------------------- */

.flex {
    display:flex;
    gap: var(--gap, 1rem);
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 4rem;
    padding-block: 2rem;
}

.pd {
    padding: var(--padding)
}

/* --------------------------- */
/* ----------HEADER----------- */
/* --------------------------- */

.logo {
    width:268px;
}

/* nav */
.primary-nav {
    margin-block:1rem;
}
/* main search bar */

.primary-search-form {
    position:relative;
}

.primary-search-form input {
    width:100%;
    border:none;
    border-radius: var(--bd-radius);
    background-color: var(--clr-bg);
}

.primary-search-form input::placeholder {
    color:black;
    opacity: 0.25;
}

.primary-search-form button {
    position:absolute;
    right:0;
    height:55.5px;
    padding-inline: 15px;
    border:none;
    background-color: transparent ;
    transition: 0.2s;
}

.primary-search-form button:hover {
    transform: scale(1.2);
}

.search-icon {
    height:30px;
}

/* tags */



/* filters */
.ingredients {
    background-color: var(--clr-primary-1);
}

.appareils {
    background-color: var(--clr-primary-2);
}

.ustensiles {
    background-color: var(--clr-primary-3);
}

.ingredients > * {
    background-color: var(--clr-primary-1);
}

.appareils > * {
    background-color: var(--clr-primary-2);
}

.ustensiles > * {
    background-color: var(--clr-primary-3);
}

.filter-dropdown {
    position: relative;
    padding-inline:20px;
    border-radius:var(--bd-radius);
    color:white;
}

.arrow-icon {
    height:20px;
}

.filter-dropdown:hover .filter-content{
    display:block
}

.filter-dropdown:hover .fa-chevron-down {
    transform: rotate(180deg);
}

.filter-head {
    justify-content: space-between;
    align-items: center;
}

.filter-head input {
    background-color: transparent;
    border:none;
    padding-block:20px;
    font-size:18px;
    color:white;
}

.filter-head input::placeholder {
    color:white;
}

.fa-chevron-down {
    transition: 0.2s;
}

.filter-content {
    display:none;
    position:absolute;
    min-height: fit-content;
}



/* --------------------------- */
/* ----------MAIN----------- */
/* --------------------------- */

.main {
    padding-block: 1rem;
}
.main-container {
    grid-template-columns: repeat(3, 1fr);
    gap:2rem;
}

.card {
    height:364px;
    background-color: var(--clr-bg);
    overflow: hidden;
    border-radius: var(--bd-radius);
}

.card-img-container {
    height:50%;
    background-color: #C7BEBE;
}

.card-heading {
    margin-bottom: 1rem;
    justify-content: space-between;
}

.card-title {
    max-width:22ch;
}

.clock-icon {
    height:15px;
    width:15px;
}

.card-content > * {
    width: calc(100% - 40px);
    font-size:12px;
}

.card-description > p {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}